@model Site.Models.FotoImagem

@{
    ViewBag.Title = "Nova Imagem";

    if (Site.Models.SessionContext.IsAutenticado == null)
    {
        <script>
          //  $(location).attr('href', '../');
        </script>
    }
}

<h4>Cadastrar fotos na galeria</h4>
<hr>
<div>
    @Html.ActionLink("Lista de Imagens", "DetailsList", null, new { @class = "btn btn-primary" })
</div>

@using (Html.BeginForm("Create", "Administracao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tipo de Evento:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoEvento, new SelectList(ViewBag.TipoEvento, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Path, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="Files" type="file" name="Files" required data-val-require="Imagem obrigatorio" class="text-info">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Descrção da Foto</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ativar Foto?</label>
            <div class="col-md-10" style="padding-left:35px;">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Salvar Imagem" id="UploadBtn" name="UploadBtn" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <script>
        $(document).ready(function () {
            debugger

            $('#UploadBtn').click(function () {

                if ($("#Files").val().length == 0) {
                    alert('Selecione uma imagem');
                    return;
                }
                if ($("#Descricao").val().length == 0) {
                    alert('Digite uma descrição para essa imagem');
                    return;;
                }

                $("form").submit();

            });
        });


    </script>


